#right-panel {
  width: 35%;
  float: left;
  /* display: block; */
  background: white;
  height: calc(100vh - 200px);
  min-height: 300px;
  overflow: scroll;
  border:none;
  font-family: 'Cabin', sans-serif;
}
/* Sidebar Main */
.SidebarMain {
  height: calc(100vh - 200px);
  /* overflow-y: hidden; */
}
.SidebarMain .tab-container {
  padding-top: 2px;
}

.SidebarMain .sidebar-tab-button {
  margin: 1rem;
}

.SidebarMain .tab-label {
  background: none;
  border: none;
}

.SidebarMain .option-label {
  background: none;
  border: none;
  border-radius: none;
  opacity: 0.65;
}

.SidebarMain .option-label:hover {
  background: none;
  cursor: pointer;
  /* border-bottom: 2px solid var(--backgroundColor); */
  color: var(--backgroundColor);
  opacity: 1;
}

.SidebarMain .option-label.selected {
  /* border-bottom: 2px solid var(--backgroundColor); */
  opacity: 1;
}


/* Sidebar Overview */

.SidebarOverview .weather-record p {
  color: var(--backgroundColor);
  font-size: 2rem;
}

.weather-special-title {
  font-weight: bold;
}

.SidebarOverview {
padding: 5rem 0;
background: white;
}

.weather-record {
  margin-top: 1.4rem;
}

.weather-record p span {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  color: var(--backgroundColor);
  opacity: 0.85; 
  margin-right: 3rem;
}

/* SIDEBAR MAIN */
.tab-content {
  display: none;
}

.tab-content-shown {
  display: block !important;
}

.tab-container {
  background: var(--lightText);
}

.footer-buttons .button {
  margin: 1rem 0;
}

.footer-buttons .button:nth-of-type(1) {
  margin-right: 1rem;
}

@media(max-width: 800px) {
  #right-panel {
    width: 100%;
  }
}
/* BEGIN styles disable the link to the all trips */

/* .disabled-link-to-all-trips .second-circle {
  background-color: #DDD;
} */
/* END styles disable the link to the all trips */
