#right-panel {
  width: 35%;
  float: left;
  /* display: block; */
  background: white;
  height: calc(100vh - 75px);
  overflow: scroll;
  border:none;
  font-family: 'Cabin', sans-serif;
}
/* Sidebar Main */
.SidebarMain {
  height: calc(100vh - 75px);
}
.SidebarMain .tab-container {
  padding-top: 30px;
}

.SidebarMain .sidebar-tab-button {
  margin: 20px;
}

/*
.SidebarMain .sidebar-tab-button {
  padding: 10px;
  font-size: 2rem;
  background: white;
  color: var(--backgroundColor);
  border: 2px solid var(--backgroundColor);
}

.SidebarMain .sidebar-tab-button:active,
.SidebarMain .sidebar-tab-button:hover {
  background: var(--backgroundColor);
  color: white;
}
*/

/* Sidebar Overview */

.SidebarOverview h2 {
  color: white;
  font-size: 4rem;
}

.SidebarOverview .weather-record p {
  color: white;
  font-size: 2rem;
}

.weather-special-title {
  font-weight: bold;
}

/* SIDEBAR MAIN */
.tab-content {
  display: none;
}

.tab-content-shown {
  display: block !important;
}

/* BEGIN styles disable the link to the all trips */

/* .disabled-link-to-all-trips .second-circle {
  background-color: #DDD;
} */
/* END styles disable the link to the all trips */