.dashboard {
  background: var(--lightText);
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}

.dashboard h2 {
  display: block;
  float: left;
}

.dashboard-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-image img {
  height: 250px;
  margin: 1rem auto 2rem;
}

.dashboard .half-section {
  margin: 3rem 0;
  border-radius: 2px;
  padding: 3rem 5rem;
  text-align: center;
  transform: scale(1);
  transition: 0.3s ease-in-out all;
  background: #eaeaea;
  box-shadow: 1px 1px rgba(221, 221, 221, 0.75);
  max-height: 400px;
  width: calc(50% - 1.5rem);
  /* min-width: 400px; */
}

.dashboard .half-section:nth-of-type(2) {
  margin-left: 3rem;
  float: right;
}

.dashboard .half-section:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out all;
}

.dashboard .half-section p {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--backgroundColor);
  font-weight: 700;
  margin: 0 auto;
}

.half-section.disabled-link-to-all-trips {
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}

.half-section.disabled-link-to-all-trips:hover {
  transform: scale(1);
}

@media(max-width: 1150px) {

  .wrapper--dashboard {
    width: 100%;
  }

  .dashboard .half-section {
    height: 350px;
  }
}

@media(max-width: 825px) {
  .dashboard {
    text-align: center;
  }

  .dashboard .half-section {
    float: none;
    display: block;
    width: 80%;
    height: 200px;
    margin: 2rem auto 0;
  }

  .dashboard-image img {
    height: 125px;
    margin: 1rem auto;
  }

  .dashboard .half-section:nth-of-type(2) {
    margin: 2rem auto 0;
    float: none;
  }

  .dashboard-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(max-width: 580px) {
  .dashboard-image img {
    height: 80px;
  }

  .dashboard h2 {
    margin-top: 0;
  }

  .dashboard .half-section {
    height: 150px;
    width: 90%;
  }

  .dashboard-title {
    text-align: center;
  }

  .dashboard h2 {
    float: none;
    text-align: center;
  }

  .dashboard .blue-btn {
    margin: 2rem auto 3rem;
    text-align: center;
    float: none;
  }
}
