.date-time {
  /* margin-left: 23px; */
  margin-top: 0.5rem;
}

#date-time-input {
  background: rgba(255,255,255,0.4);
  font-size: 1.7rem;
  border: none;
  /* border-bottom: 1.25px solid var(--backgroundColor); */
  margin: 0.5rem 0 1.5rem;
  padding: 1rem;
  width: 65%;
  letter-spacing: 0.1rem;
  min-width: 290px;
}
