.new-trip-form {
  background: var(--lightBlueShade);
  text-align: center;
  margin-right: 4rem;
}

.new-trip-form .wrapper {
  overflow-y: scroll;
}

.new-trip-form h2 {
  text-align: center;
  clear: both;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.new-trip-form .button {
  margin-bottom: 6rem;
}

.image {
  background: url('../assets/mockImage.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}

.image:hover {
  filter: grayscale(10);
}

fieldset {
  display: block;
  border: none;
  padding: 0;
  text-align: center;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  margin: 1rem auto 2rem;
}

fieldset input {
  display: none;
}

.transportation {
  list-style: none;
  letter-spacing: 1px;
}

.form-label {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--backgroundColor);
  font-weight: 700;
}

#originData, #destinationData {
  background: rgba(255,255,255,0.4);
  font-size: 1.8rem;
  border: none;
  /* border-bottom: 1.25px solid var(--backgroundColor); */
  margin: 0.5rem 0 1.5rem;
  padding: 1rem;
  width: 50%;
  letter-spacing: 0.1rem;
}

.option-label {
  border: 2px solid var(--backgroundColor);
  border-radius: 2px;
  color: var(--backgroundColor);
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-right: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.option-label:hover {
  cursor: pointer;
  background: var(--backgroundColor);
  color: var(--lightText);
}

.active-label {
  background: var(--backgroundColor);
  color: var(--lightText);
}


/* .font-awesome {
  float: left;
  width: 20px;
  margin-top: 1rem;
  margin-right: 10px;
  color: var(--backgroundColor);
}

.icon {
  margin-top: 10px;
  font-size: 2rem;
  width: 100%;
}

.circle {
  font-size: 1.5rem;
  margin-left: 1px;
}

.dotdots {
  margin-left: 5px;
}

.markymark {
  margin-left: 1px;
}

.circle:hover, .markymark:hover {
  color: var(--accentColor);
}

.location-search-input-wrapper {
  margin: 0 3rem;
} */










