article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css?family=Cabin|PT+Serif:400,700');

:root {
  /* colors */
  --accentColor: #f9d549;
  --lightBlueShade: #c2ebd7;
  --darkBlueShade: #222449;
  --blackShade: #000000;
  --lightGreyShade: #f2f2f2;
  --whiteShade: #ffffff;
  /* fonts */
  --headerFont: 'PT Serif', serif;
  --bodyFont: 'Cabin', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--bodyFont);
  background: var(--darkBlueShade);
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: var(--headerFont);
  font-size: 11rem;
}

h2 {
  font-size: 9rem;
}

h3 {
  font-size: 7rem;
  font-family: var(--headerFont);
  color: var(--darkBlueShade);
}

h4 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

    /* button styling */
.main-button {
  padding: 20px 40px;
  background: var(--accentColor);
  border: var(--accentColor);
  border-radius: 40px;
  color: var(--darkBlueShade);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--bodyFont); 
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-button:hover {
  color: var(--accentColor);
  background: var(--darkBlueShade);
}


.App {
  text-align: center;
}

.no-display {
  display: none;
}

/* Landing Page STYLING in App.js */

.narrow-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.main-title {
  color: var(--whiteShade);
  font-weight: 700;
  margin: 20rem 0 0 0;
  text-align: right;
}

.main-slogan {
  color: var(--whiteShade);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0 0 30px 0;
  text-align: right;
}

/* Dashboard.js STYLING */
.dashboard {
  background: var(--lightGreyShade);
}

.dashboard-wrapper {
  position: relative;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 50px;
}

.circles {
  background: var(--lightBlueShade);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding-top: 180px;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
}

.circles:hover {
  background: var(--accentColor);
}

.first-circle {
  float: left;
  left: 25%;
  transform: translateX(-50%);
}

.second-circle {
  float: right;
  left: 75%;
  transform: translateX(-50%);
}

.start-trip, .all-trips {
  font-size: 2rem;
  color: var(--darkBlueShade);
}

/* FOR FUN: Add a circle that moves around the circles lol */

.circle-fun { 
  width:100px; 
  height:100px;
  border-radius: 50%;
  transform-origin:200% center; position:relative; 
  animation:rotate 5s linear infinite; 
  z-index: -1;
}

.circle-fun:before { 
  content:''; 
  position:absolute; 
  height:100%; 
  width:100%; 
  border-radius: 50%;
  background: var(--accentColor); 
  animation:rotate 5s linear reverse infinite; 
}

@keyframes rotate { 100% { transform:rotate(-360deg); } }

.clockwise {
  animation:clockwise 5s linear infinite; 
}
@keyframes clockwise { 100% { transform:rotate(360deg); } }


/* NewTripForm.js STYLING */

.main-wrapper {
  background: var(--lightBlueShade);
  max-width: 1600px;
  height: 100vh;
  text-align: left;
}

/* @media only screen and (max-width: 1070px) {
  .main-wrapper {
    
  }
} */

.newtripform-wrapper {
  padding: 4rem 0 0 7rem ;
  width: 50%;
  float: left;
} 

.font-awesome {
  float: left;
  width: 20px;
  /* border: 1px solid red; */
  margin-top: 1rem;
  margin-right: 10px;
  color: var(--darkBlueShade);
}


.icon {
  /* border: 1px solid blue; */
  margin-top: 10px;
  font-size: 2rem;
  width: 100%;
}

.circle {
  font-size: 1.5rem;
  margin-left: 1px;
}

.dotdots {
  margin-left: 5px;
}

.markymark {
  margin-left: 1px;
}

.circle:hover, .markymark:hover {
  color: var(--accentColor);
}

.location-search-input-wrapper {
  margin: 0 3rem;
}

#originData, #destinationData {
  background: var(--lightBlueShade);
  font-size: 3rem;
  border: none;
  border-bottom: 1px solid var(--darkBlueShade);
  margin: 15px 0;
}

fieldset {
  display: block;
  border: none;
}

fieldset label {
  margin-left: 1rem;
}

.transportation {
  list-style: none;
  /* margin: 0;
  padding: 0;
  overflow: auto; */
  letter-spacing: 1px;
}

.avoid-mode {
  font-size: 2rem;
  margin-bottom: 20px;
}

img {
  width: 50%;
  float: right;
  height: 100%;
  object-fit: cover;
}

img:hover {
  filter: grayscale(10);
}

/* DateTimeInput.js STYLING */

.date-time {
  /* margin-left: 23px; */
  margin-top: 20px;
}

.date-time label {
  margin-right: 10px;
}

#date-time-input {
  background: var(--lightBlueShade);
  border: none;
  border-bottom: 1px solid var(--darkBlueShade)
}

/* TripList.js STYLING */
.alltrips-wrapper {
  background: #F2F2F2;
  height: 100vh;
}

.mockInput {
  font-size: 1.5rem;
}

.display-trips {
  border: 1px solid red;
  max-width: 1000px;
  margin: 0 auto;
}

.trip-items {
  list-style-type: none;
  width: 70%;
  background: var(--lightBlueShade);
  border: 1px solid var(--lightBlueShade);
  margin: 20px auto;
  line-height: 1px;
}

.remove-btn{
  margin-bottom: 10px;
}